* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans SC', sans-serif;

}

.leftmenu, .rightmenu {
  float: left;
}

.leftmenu {
  width: 35%;
  height: 100vh;
  background-color: red;
}

.rightmenu {
  width: 65%;
  height: 100vh;

}

.headermenulft {
  width: 100%;
  height: 10%;
  background-color: #eeeeee;
}

.avatarimage {
  display: flex;
  align-items: center;
  width: 60%;
  height: 100%;
  background: #eeeeee;
}

.avatarimage, .headerlfticons {
  float: left;
}

.headerlfticons {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  height: 100%;
  background: #eeeeee;

}


.avatarimage img {
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}
.headermenurht {
  width: 100%;
  height: 10%;
  background-color: #eeeeee;
  border-left: 1px solid lightgrey;

}

.namemessage {
  display: flex;
  align-items: center;
  width: 80%;
  height: 100%;
  background: #eeeeee;
}

.bellcontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background: #fff;
  border-radius: 50%
}

.bellcontainer i {
  color: #9de1fe;
  font-size: 20px;

}

.namemessage, .headerrhticons {
  float: left;
}

.namemessage h2 {
  font-size: 15px;
  margin-left: 20px;
}

.headerrhticons {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
  height: 100%;
  background: #eeeeee;
}

.headerrhticons  a i {
  color: #4b4b4b;
}

.headerlfticons  a i {
  color: #4b4b4b;
}

.namemessageimg {
  display: flex;
  align-items: center;
  height: 100%;
}

.namemessage img {
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
  cursor: pointer;
}

.textdisplay {
  padding: 50px;
  width: 100%;
  height: 80%;
  background-color: #e5ddd5;
  background-image: url(background-chat.png);

}

.text {
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 10%;
  background: #eeeeee;
}

.text i {
  font-size: 25px;
  color: #4b4b4b;
  cursor: pointer;
}

.writehere {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  height: 75%;
  border-radius: 50px;
  background-color: #fff;
}

.writehere input::placeholder {
  font-size: 15px;
}

.writehere input {
  width: 90%;
  height: 80%;
  border: none;
  outline: none;
}

.notifications {
  display: flex;
  align-items: center;
  width: 100%;
  height: 15%;
  background: #9de1fe;
}

.notificationstext {
  margin-left: 20px;
}

.notificationstext h3 {
  font-size: 15px;
}

.notificationstext a {
  text-decoration: none;
  color: black;
}

.notificationstext span {
  font-size: 13px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 7%;
  border-bottom: 10px;
  background-color: #fff;
}

.inputcontainer {
  display: flex;
  align-items: center;
  width: 95%;
  height: 80%;
  border: 1px solid #f1f1f1;
}
.search input {
  margin-left: 20px;
  width: 70%;
  height: 80%;
  border: none;
  outline: none;
}

.search input::placeholder {
  font-size: 15px;
}
.search i {
  margin-left: 15px;
  color: #4b4b4b;
}

.messages {
  padding-top: 20px;
  width: 100%;
  height: 68%;
  background: white;
  overflow-y: auto;
}

.idbox {
  position: relative;
  display: flex;
  width: 100%;
  height: 15%;
  cursor: pointer;

}

.idbox:hover {
  background: #B6B9BB;
}

.idimg, .idname, .orario {
  margin-top: 10px;
}

.idname {
  margin-left: 20px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}



.orario {
  position: absolute;
  top: 0;
  right: 0;
  width: 10%;
  height: 100%;
}

.orario span {
  font-size: 12px;
}


.idimg img {
  height: 50px;
  border-radius: 50%;
  margin-left: 20px;

}

.chat {
  float: right;

  background: #D5F9BA;
  color: black;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 13px;
  width: 200px;


}

.answer {


  margin: 10px 0;
  background: #fff;
  color: black;
  border-radius: 10px;
  font-size: 13px;
  width: 200px;
}

.clear {
  clear: both;
}

.template {
  display: none;
}
